AUTH_ISSUER_URI=http://craftalism-auth-server:9000
AUTH_TOKEN_PATH=http://craftalism-auth-server:9000/oauth2/token
CRAFTALISM_API_URL=http://craftalism-api:8080
MARKET_API_BASE_URL=http://craftalism-api:8080
MINECRAFT_CLIENT_ID=minecraft-server
MINECRAFT_CLIENT_SECRET=secret
DB_PASSWORD=craftalism
RSA_ALLOW_EPHEMERAL=true
